@charset "gb2312";
/* CSS Document */

.abc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
}
.navigate {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	background-color: #696;
}
